.center
{
    margin: auto;
    width: 50%;
    padding-top: 10%;
}

h1
{ 
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: auto;
    padding-left: 20%;
    font-size: 5em;
    border: 5px solid black;
    padding: 10px;
    margin:10px;
}

.big
{
    animation: 1s anim infinite alternate;
}

.test
{
    animation: 3s anim infinite alternate;
}

.game
{
    animation: 5s anim infinite alternate;
}

@keyframes anim 
{
    0% {color: red;}
    17% {color: orange;}
    33% {color: yellow;}
    50% {color: green;}
    67% {color: blue;}
    83% {color: indigo;}
    100% {color: violet;}
}